*{
    color: #fff;
    font-family: sans-serif;
    font-size: 22px;
}  
  
  section {
    margin: 50px;
    padding: 50px;
    background-color: #372df4;
  }

  span {
    color: #f42d97;
  }

  div {
    margin: 50px;
    padding: 50px;
    background-color: #2d8af4;
  }
  
 
  