h1{
    color: green;
    background-color: honeydew;
}

strong{
    color: teal;
    background-color: lemonchiffon;
}

a{
    color: teal;
}

p{
    background-color: honeydew;
}

ul{
    background-color: honeydew;
}